.appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem 0.5rem;
  background-color: #ffdd05;
  text-align: center;
}
.appContainer h1 {
  color: black;
  font-weight: bold;
  font-size: 3rem;
}
.pokeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  text-decoration: none;
  gap: 2rem;
  padding: 20px;
  background: transparent;
}
.pagination img {
  width: 120px;
  height: 120px;
}
.pokeCard {
  display: flex;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 2rem 3rem;
  text-transform: capitalize;
  text-align: center;
}
.rock {
  background-color: rgb(148, 81, 81);
}
.ghost {
  background-color: rgb(247, 247, 247);
}
.electric {
  background-color: rgb(255, 255, 161);
}
.bug {
  background-color: #f6d6a7;
}
.poison {
  background-color: #e0a7f6;
}
.normal {
  background-color: #f4f4f4;
}
.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.fire {
  background-color: #fbe3df;
}
.grass {
  background-color: #e2f9e1;
}
.water {
  background-color: #e0f1fd;
}

.thumb-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 0;
  margin: 0.3rem;
  border: 1px solid #efefef;
  border-radius: 0.2rem;
  min-width: 160px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.089);
}

.thumb-container .number {
  border-radius: 1rem;
  padding: 0.2rem 0.4rem;
  background-color: rgba(255, 255, 255, 0.3);
}

.buttonNP {
  gap: 1rem;
  margin: 0 3rem;
  display: flex;
}
.buttonNP button {
  padding: 0.5rem 2rem;
  border-radius: 20px;
  font-size: 1rem;
  background-color: black;
  color: #ffdd05;
}

.linkPoke {
  text-decoration: none;
  color: #000;
}
