.detailContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background-color: #ffdd05;
}

.detailCard {
  display: flex;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem 2rem 1rem 1rem;
  grid-template-colums: 1 1;
}
.idPoke {
  font-size: 24px;
  font-weight: bold;
}
.namaPoke {
  font-size: 48px;
  font-weight: bold;
  text-transform: Capitalize;
  padding: 0.5rem 0;
}
.imagePoke {
  padding: 2rem 2rem 1rem 1rem;
  align-items: center;
  justify-content: center;
}

.imagePoke img {
  width: 300px;
  height: 300px;
}
.typePoke {
  display: flex;
  gap: 1rem;
  background-color: transparent;
}
.typePokeEach {
  background-color: black;

  border-radius: 5rem;
  padding: 0.5rem 4rem;
}
.rock {
  background-color: rgb(148, 81, 81);
}
.ghost {
  background-color: rgb(247, 247, 247);
}
.electric {
  background-color: rgb(255, 255, 161);
}
.bug {
  background-color: #f6d6a7;
}
.poison {
  background-color: #e0a7f6;
}
.normal {
  background-color: #f4f4f4;
}
.fairy {
  background-color: rgba(255, 192, 203, 0.863);
}
.fire {
  background-color: #fbe3df;
}
.grass {
  background-color: #e2f9e1;
}
.water {
  background-color: #e0f1fd;
}
.ground {
  background-color: #f7e7b5;
}
.fighting {
  background-color: #e6e0d4;
}
.dragon {
  background-color: #8f7ae6;
}
.psychic {
  background-color: #eaeda1;
}
.flying {
  background-color: #e6e6e6;
}
.ice {
  background-color: #dfeffc;
}
.statsPoke {
  margin: 1rem 0;
  display: grid;
  background: rgba(0, 0, 0, 0.25);
  color: #black;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-size: 16px;
  grid-template-columns: 1fr 1fr;
  gap: 10px 40px;
  text-align: justify;
  text-transform: capitalize;
}
.statNumber {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.skillPoke {
  display: flex;
  gap: 1rem;
  background-color: transparent;
  font-size: 10pt;
}
.skillPokeEach {
  background-color: black;
  color: #ffdd05;
  border-radius: 5rem;
  padding: 0.5rem 3rem;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .detailCard {
    display: inline-block;
    padding: 2rem;
    text-align: center;
    gap: 10px;
  }
  .typePoke {
    justify-content: center;
  }
  .skillPoke {
    justify-content: center;
  }
}
